#caixa{
    width: 500px;
    height: 500px;
    background-color: pink;
    display: flex;
    flex-direction: row;
}


#caixa div{
    width: 50px;
    height: 50px;
    padding: 30px;
    margin: 20px;
}

#d1{
    background-color: blueviolet;
}

#d2{
    background-color: cadetblue;
}

#d3{
    background-color: darkgreen;
}